.blogpost {
    margin: 79px 110px 0;
    padding-bottom: 70px;

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 147.69%;

        color: #000000;
    }
    &__text {
        margin-top: 77px;
        margin-bottom: 77px;

        font-weight: 300;
        font-size: 24px;
        line-height: 177.19%;

        color: $grey2;
    }
    &__media {
        position: relative;
        height: 100%;
        width: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_main {
            height: 1023px;
        }
        &_video {
            height: 817px;

            img {
                filter:brightness(0.3)
            }
        }

        &-row {
            height: 986px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
        }
    }
    &__author {
        margin-top: 50px;

        font-weight: 300;
        font-size: 18px;
        line-height: 147.69%;

        color: $grey2;

        &-name {
            padding-left: 9px;

            font-weight: 500;
            font-size: 18px;
            line-height: 147.69%;

            color: $grey1;
        }
    }
    &__date {
        margin-top: 12px;

        font-weight: 300;
        font-size: 14px;
        line-height: 147.69%;

        color: $grey2;
    }
    &__next {
        margin: 48px auto 0;
        padding: 23px 20px;
        width: max-content;

        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        display: flex;
        align-items: center;
        gap: 21px;

        color: #000000;
        border: 1px solid #000000;
        transition: all 0.5s;

        img {
            transition: all 0.5s;
        }

        &:hover {
            color: #fff;
            background-color: #000;

            img {
                filter: invert(1);
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .blogpost {
        margin: 60px 0 0;
    }
}

@media screen and (max-width: 1400px) {
    .blogpost {
        &__media {
            height: 750px;

            &-row {
                height: 750px;
            }
        }
        &__text {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .blogpost {
        &__media {
            height: 600px;
            &-row {
                height: 600px;
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .blogpost {
        margin-top: 29px;
        padding-bottom: 40px;

        &__title {
            font-size: 22px;
        }
        &__text {
            font-size: 18px;

            &:first-of-type {
                margin-top: 19px;
            }
        }
        &__media {
            height: 451px;
            &-row {
                height: 451px;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .blogpost {
        margin-top: 38px;
        padding-bottom: 0;

        text-align: center;
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 14px;
            margin-top: 34px;
            margin-bottom: 34px;

            &:first-of-type {
                margin-top: inherit;
            }
        }
        &__media {
            &_main {
                height: 237px;
            }
            &_video {
                height: 190px;
            }
            &-row {
                flex-direction: column;
                height: 490px;
                gap: 6px;
            }
        }
        &__author, &__date, &__next {
            display: none;
        }
    }
}