.crumbs {
    margin: 12px 84px 0px;

    font-size: 14px;
    line-height: 16px;

    &__prev {
        font-weight: 300;

        color: $grey3;

        &:hover {
            color: black;
        }
    }

    &__now {
        font-weight: 400;

        color: $grey2;

        &:hover {
            color: black;
        }
    }
}

@media screen and (max-width:930px) {
    .crumbs {
        margin-left: 25px;
    }
}

@media screen and (max-width: 520px) {
    .crumbs {
        display: none;
    }
}