.form-wrap {
    padding: 0.93vh 1.8vw 0.93vh 0.52vw;

    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 9px;

    border: 1px solid $grey5;

    &__elem {
        display: flex;
        align-items:center;

        width: calc(50% - 5px);

        cursor: pointer;

        &.grey {
            border: 1px solid $grey6;
            .form-wrap__checkbox {
                background-color: $grey6;
            }
        }

        &.brown {
            border: 1px solid #F9F3E6;
            .form-wrap__checkbox {
                background-color: #F9F3E6;
            }
        }

        &.darkgrey {
            border: 1px solid $grey4;
            .form-wrap__checkbox {
                background-color: $grey4;
            }
        }

        &.pink {
            border: 1px solid #E7D0D0;
            .form-wrap__checkbox {
                background-color: #E7D0D0; 
            }

        }

        &_long {
            width: 46.72vw;
        }

        &:hover {
            .form-wrap__checkbox {
                background-image: url('../images/calc/choice.svg');
                background-size: 50%;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        &.chosen {
            .form-wrap__checkbox {
                background-image: url('../images/calc/choice.svg');
                background-size: 50%;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }

    &__checkbox {
        width: 3.125vw;
        height: calc(5.556vh + 1px);;

        flex-shrink: 0;

        background-color: $grey6;
    }

    &__text {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-weight: 300;
        font-size: 1.3vh;
        line-height: 1.48vh;

        color: $grey1;

        &_huge {
            margin-left: 12px;

            font-weight: 300;
            font-size: 1.67vh;
            line-height: 1.94vh;

            text-align: left;

            flex-grow: unset;
        }
    }

    &__title {
        font-weight: 300;
        font-size: 1.67vh;
        line-height: 1.94vh;

        color: $grey1;
    }

    &__price {
        margin-left: auto;

        font-weight: 500;
        font-size: 1.67vh;
        line-height: 1.94vh;

        color: $grey1;
    }

    &__card {
        padding: 9px;

        border: 1px solid $grey5;

        &-img {
            width: 19.22vw;
            height: 16.67vh;

            margin: 0 auto;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-title {
            margin-top: 1.3vh;

            font-weight: 500;
            font-size: 1.3vh;
            line-height: 1.48vh;

            color: $grey1;
        }

        &-bot {
            margin-top: 1.11vh;

            display: flex;
            align-items: center;
            gap: 0.625vw;
        }

        &-type {
            font-weight: 300;
            font-size: 1.3vh;
            line-height: 1.48vh;

            color: $grey1;
        }

        &-buttons {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        &-button {
            padding: .6vh .78vw;

            font-weight: 300;
            font-size: 1.3vh;
            line-height: 1.48vh;

            color: #000000;

            background: $grey6;
            transition: all 0.5s;

            &:hover, &.chosen {
                background: $grey4;
            }
        }

        &:hover, &.chosen {
            background: url('../images/calc/choice.svg') right 0.53vw bottom 4.54vh / 1.6vw 2.22vh no-repeat;
        }
    }


    &_col {
        flex-direction: column;
    }

    &_pr {
        padding-right: 6.3vw;   
    }
}

@media screen and (max-width: 930px) {
    .form-wrap {
        &__checkbox {
            height: 3.1vh;
            width: 3.1vh;
        }

        
        &__title {
            align-self: center;

            font-size: 1.17vh;
            line-height: 1.34vh;
        }


        &__elem {
            border: 1px solid $grey5;

            &_long {
                padding-right: 5px;
                width: 100%;
                .form-wrap__checkbox {
                    width: 5vh;
                    height: 5vh;
                }
            }
        }

        &__text {
            font-size: 1vh;
            line-height: 1.17vh;

            &_huge {
                font-size: 1.6vh;
                line-height: 1.8vh;
            }
        }

        &__price {
            font-size: 1.6vh;
            line-height: 1.8vh;
        }

        &__card {
            &-title {
                font-size: 1vh;
                line-height: 1.17vh;
            }

            &-img {
                height: 14.7vh;
            }

            &-type {
                font-size: 1.17vh;
                line-height: 1.34vh;
            }

            &-buttons {
                margin-left: auto;
            }

            &-button {
                font-size: 1vh;
                line-height: 1.17vh;
            }
        }


        &_col {
            flex-direction: row;

        }

        &_pr {
            padding-right: 2.3vw;
        }

    }
}

@media screen and (max-width: 520px) {
    .form-wrap {
        padding-left: 1vw;
        &__title {
            width: 100%;
        }
        &__card {
            width: calc(50% - 9px);
            justify-content: space-between;
            &-img {
                height: 7.7vh;
                width: 33.22vw;
            }

            &-title {
                margin-top: 0.7vh;

            }
            &-bot {
                margin-top: 0.7vh;
            }

            &-type {
                font-size: 1vh;
                line-height: 1.2vh;
            }
        }

        &__price {
            display: none;
        }
    }
}