.privacy {    
    margin-top: 16px;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;

    &__check {
        width: 17px;
        height: 17px;

        position: relative;
    }

    &__checkbox {
        opacity: 0;

        &:checked {
            &+.privacy__checkbox-label {
                &:before {
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 2px;
                    top: 55%;
                    left: 5%;
                    transform: rotateZ(45deg);

                    background-color: #fff;
                }
                &:after {
                    position: absolute;
                    content: '';
                    width: 14px;
                    height: 2px;
                    top: 40%;
                    left: 26%;
                    transform: rotateZ(-60deg);

                    background-color: #fff;
                }
            }
        }
    }

    &__checkbox-label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: $grey1;

        cursor: pointer;
    }

    &__label {
        font-weight: 300;
        font-size: 14px;
        line-height: 146.19%;

        color: $grey1;
    }

    &__link {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
}

@media screen and (max-width: 930px) {
    .privacy {
        margin-top: 19px;
    }
}

@media screen and (max-width: 520px) {
        .privacy {
            margin-top: 12px;
        
            &__label {
                white-space: nowrap;

                width: calc(100% - 27px);
                text-align: left;
            }
    }
}