.process {
    margin-right: 80px;
    margin-left: 80px;

    padding-bottom: 38px;

    &__info {
        margin-top: 64px;
        margin-bottom: 64px;

        display: flex;
        justify-content: space-between;

        &-left {
            width: 714px;
            padding-right: 57px;

            display: flex;
            gap: 20px;

            border-right: 1px solid $grey5;;
        }

        &-right {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
        }

        &-number {
            font-weight: 300;
            font-size: 72px;
            line-height: 84px;

            color: #000000;
        }

        &-title {
            font-weight: 400;
            font-size: 36px;
            line-height: 42px;

            color: #000000;
        }

        &-style {
            margin-top: 13px;

            font-weight: 300;
            font-size: 24px;
            line-height: 28px;

            color: $grey2;
        }

        &-descr {
            margin-top: 21px;

            font-weight: 300;
            font-size: 18px;
            line-height: 21px;

            color: $grey2;
        }

        &_m0 {
            margin-top: 0;
            margin-bottom: 0px;
        }
    }

    &__gallery {
        margin-top: 25px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 20px;

        &_3col {
            grid-template-columns: 1fr 1fr 1fr;
        }

    }

    &__photo {
        &_long, &_2col {
            grid-column: 1/3;
        }

        &_3col {
            grid-column: 1/4;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__video {
        min-height: 940px;

        position: relative;
        &-img {
            position: absolute;

            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            object-fit: cover;

            filter:brightness(0.5)
        }
    }
}

@media screen and (max-width: 1600px) {
    .process {
        &__info {
            &-right {
                flex-direction: column-reverse;
                flex-grow: 1;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .process {
        &__info {
            flex-direction: column;

            &-left {
                flex-grow: 1;

                border: none;
            }

            &-right {
                flex-direction: row-reverse;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .process {
        margin-left: 20px;
        margin-right: 20px;
        &__info {
            flex-direction: row;
            flex-wrap: wrap;

            &-left {
                width: 320px;

                padding-right: 0;

                gap: 18px;
                flex-grow: 0;
                flex-shrink: 0;
            }
            
            &-right {
                flex-direction: column-reverse;
            }

            &-number {
                font-size: 36px;
                line-height: 42px;
            }
            &-title {
                font-size: 18px;
                line-height: 21px;
            }
            &-style {
                margin-top: 8px;

                font-size: 14px;
                line-height: 16px;
            }
            &-descr {
                margin-top: 15px;

                font-size: 14px;
                line-height: 21px;
            }
        }

        &__video {
            min-height: 430px;

        }
    }
}

@media screen and (max-width: 520px) {
    .process {
        margin-left: 10px;
        margin-right: 10px;

        &__info {
            margin-top: 34px;
            margin-bottom: 34px;
            &-left {
                width: 100%;
            }
        }

        &__gallery {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 6px;

            &_3col, &_2col, &_flat {
                grid-template-columns: 1fr;
            }
        }

        &__photo {
            max-height: 387px;
            &_3col, &_2col {
                grid-column: unset;
            }
        }
    }
}