.quote {
    margin-right: 30px;
    margin-bottom: 25px;

    padding: 21px 40px 35px;
    width: 363px;
    min-height: 215px;

    position: relative;

    background: $grey5;
    color: #000000;
    
    &__from {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;

        color: $grey3;
    }

    &__message {
        margin-top: 36px;

        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
    }

    &_black {
        margin-top: 120px;

        background: $grey1;

        color: #fff;
    }

    &:first-child {
        margin-right: 0px;
    }

    &::after {
        position: absolute;
        content: '';

        bottom: 0;
        left: 50px;

        background: inherit;
        width: 35px;
        height: 35px;

        z-index: -1;

        transform: translateY(50%) skewY(-10deg) rotateZ(55deg);
    }
}

@media screen and (max-width: 1600px) {
    .quote {
        align-self:flex-end;

        &:first-child {
            margin-top: 37px;
            align-self: flex-start;
        }
    }
}

@media screen and (max-width: 1300px) {
    .quote {
        margin-right: 0;
    }
}

@media screen and (max-width: 930px) {
    .quote {
        width: 290px;

        padding: 10px 27px 40px;

        min-height: 130px;

        &__from {
            font-size: 14px;
            line-height: 16px;
        }

        &__message {
            margin-top: 17px;

            font-size: 14px;
            line-height: 21px;
        }
    }
}

@media screen and (max-width: 520px) {
    .quote {
        width: 100%;

        margin-top: 37px;
    }
}