.title {
    padding-left: 61px;
    position: relative;

    font-family: 'Roboto';
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;

    color: #000000;

    &::after {
        position: absolute;
        content:'';
        width: 200px;
        height: 10px;
        bottom: -28px;
        left: 0;
        background-color: #000;
    }
}

@media screen and (max-width:930px) {
    .title {
        font-size: 24px;
        line-height: 28px;

        &::after {
            width: 80px;
            height: 5px;
            bottom: -23px;
        }
    }
}

@media screen and (max-width: 520px) {
    .title {
        padding-left: 10px;
        padding-right: 10px;

        text-align: center;

        &::after {
            width: 61px;

            bottom: -19px;
        }
    }
}