.works-slider {
    padding-top: 124px;
    padding-bottom: 32px;

    border-bottom: 1px solid $grey6;

    &__slider {
        margin: 46px 96px 0;
        position: relative;


        .swiper-button-prev, .swiper-button-next {
            position: absolute;
            top: 50%;

            width: 50px;
            height: 50px;
            border-radius: 100%;

            background-color: #FAFF09;
            background-repeat: no-repeat;
            background-position: center center;

            &:after{
                display: none;
            }
        }
        .swiper-button-prev {
            left: -56px;
            background-image: url(../images/repair/prev.svg);
        }
        .swiper-button-next {
            right: -56px;
            background-image: url(../images/repair/next.svg);
        }
    }

    &__btn {
        max-width: 250px;

        margin: 72px auto 0;
    }
}

@media screen and (max-width: 1600px) {
    .works-slider {
        &__slider {
            margin-left: 70px;
            margin-right: 70px;
        }
    }
}

@media screen and (max-width:930px) {
    .works-slider {
        padding-top: 30px;

        &__slider {
            margin-left: 0;
            margin-right: 0;

            .swiper-button-prev, .swiper-button-next {
                width: 20px;
                height: 20px;

                background-color: #c6c6c65d;
                background-size: 40%;

                &:hover {
                    background-color: #c6c6c6db;
                }
            }

            .swiper-button-prev {
                left: 5px;
                background-image: url(../images/repair/prev.svg);
                background-position-x: 5px;
            }
            .swiper-button-next {
                right: 5px;
                background-image: url(../images/repair/next.svg);
                background-position-x: 7px;
            }
        }

        &__btn {
            margin-top: 63px;
        }
    }
}

@media screen and (max-width: 520px) {
    .works-slider {
        padding-bottom: 25px;
    }
}